body {
	background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5;

    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;

}
.site-header
{
	height:385px;
	background-image: url(../img/coffee-beans.png);
	background-repeat: no-repeat;
	background-position: 260px 72px;

}
.bean-types{
	width: 430px;
	margin-top: 13px;
	float: left;
	text-align: center;
}
.site-navigation{
	width:530px;
	float: left;
	font-size:16pt;
}
.bean-types h1{
	font-size:48px;
	font-weight: bold;
	color: #f2eddb;
}
.bean-types p{
	font-size: 24px;
	color:#bcaf97;
	margin-bottom: 28px;
}
.bean-types a{
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	background-color: #321b10;
	padding: 16px 36px 16px 35px;	
	color: #f2eddb;
	border-radius: 12px;
}
.site-navigation a,
.site-navigation a:visited{
	text-decoration: none;
	color:#f2eddb;	
	font-weight: bold;
}
.site-navigation a:hover{
	border-bottom: 1px solid#f2eddb;
	padding-bottom: 5px;
}
.site-navigation li{
	float:left;
	margin-top: 25px;
	list-style: none;
	font-size: 16px;
	margin-left: 22px;
}
.hidden{
	display: none;

}